/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    top: 0px;
    left: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


/* -------------------------------------------------- */
/* NAVBAR*/
/* -------------------------------------------------- */

.topnav {
    overflow: hidden;
    background-color: #000000;
    text-align: center;    
  }
  
  .topnav a {
    display: inline-block;
    color: #FFFFFF;
    font: normal normal 800 15px/25px Montserrat;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .icon {
    display: none;
  }

 .navbar{
    background-color: #000000;
}
  
/* -------------------------------------------------- */
/* LOGO*/
/* -------------------------------------------------- */

#header {
    width:100%; 
    height:50px;
}
    
.headlogo {
    position: absolute;
    width:60px;
    height:60px;
    top: 26px;
    left: 72px;
    opacity: 1;
    z-index: 1;
}
    
#menu {
    margin-left:40px;
}
    
#menu li {
    list-style-type:none; 
    float:left; 
    padding:5px 10px;
}

.spelling { 
    border-bottom: 6px solid var(--unnamed-color-b4ff00);
    border-bottom: 10px solid #B4FF00;
    opacity: 1;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font: normal normal 800 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------- */
/* SECTION 2*/
/* -------------------------------------------------- */

.app-screen{
    margin: 50px;
    width: 50%;
    height: 200px;
    padding: 50px;
   
    transition: ease none;
    animation-duration: 0.3;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
}
 .app-screen:hover{
    background-position: bottom;
}

 .app-screen{
    background: transparent url('img/6cfa2f3aca711cdcdb097435682f9555-510x638.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    width: 70%;
    height: 245px;
    margin: 100px 0 0 150px;
   
}

.text-fluid{
    width: 45%;
    margin: 112px 0 0 20px;
    font: normal normal normal 10px/15px Montserrat;
    font-size: small;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left;
}

.text-fluid h5 { 
    font: normal normal bold 10px/13px Montserrat;
    letter-spacing: 0px;
    color: #CFCFCF;
    opacity: 1;
}

.text-fluid h6 {
    margin-bottom: 20px;
    font: normal normal 800 19px/26px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


/* -------------------------------------------------- */
/* POP ART LOVE SECTION 3 */
/* -------------------------------------------------- */

.pop-art-love{
    width: 50%;
    margin: 5px 0 0 5px;
}

.pop-art-love:hover {
    transition: transform .7s ease-in-out;
    transform: rotate(360deg);
  }

.pop-art-text{
    margin: 80px 0 0 250px;
    text-align: left;
    font: normal normal normal 10px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 55%;
}

.pop-art-text h5{
    font: normal normal bold 10px/13px Montserrat;
    letter-spacing: 0px;
    color: #CFCFCF;
    opacity: 1;
}

.pop-art-text h6{
    margin-bottom: 20px;
    font: normal normal 800 19px/26px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;  
}


/* -------------------------------------------------- */
/* CONTACT FORM SECTION */
/* -------------------------------------------------- */

.map-screen{
    position: relative;
    left: -15px;
    width: 105%;
    height: 670px;
    mix-blend-mode: multiply;
    opacity: 1;
}

.form-control{
    border: 1px solid #000000;
    border-radius: 28px;
}

.contact-form{
    padding: inherit;
    margin: 50px 0 0 90px;
    width: 70%;
}

.contact-form p{
    text-align: left;
    font: normal normal normal 12px/16px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 20px 0 20px 0;
}

.form-check p{
    text-align: left;
    font: normal normal normal 12px/16px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.8;
}

.form-check2-input{
    margin-left: -150px;
}

.btn {
    background: #4B00FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000066;
    border-radius: 42px;
    opacity: 1;
    padding: 5px;
    text-align: center;
    width: 40%;
    margin: 20px 0 20px 180px;
} 

.searchbtn  {
    background: #4B00FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000066;
    border-radius: 42px;
    opacity: 1;
    text-align: center;
    width: 30%;
   margin-left: 30px;
   margin-top: 20px;
   padding: 5px;
   
} 

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */


.footer-image{
   position: absolute;
   margin: 5px 0 0 420px;
}



/* -------------------------------------------------- */
/* RESPONSIVE*/
/* -------------------------------------------------- */

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }

    .app-screen{width: auto; margin-left: 20px; margin-top: 100px; }
    .text-fluid{ width: auto; margin-top: 130px; margin-left: -10px; font-size: small; }
    .pop-art-text{ width: auto; margin-top: 50px; margin-left: 100px; }
    .pop-art-love{ width: 70%; margin-left: 50px; margin-top: auto; }
    .footer-image{ position: absolute; margin-top: 5px;margin-left: 340px; }
    .form-check2-input{ margin-left: -20px; }
    .contact-form{ padding: inherit; margin: 40px 0 0 70px; width: 70%; }
    .btn{ margin-left: -30px; padding: 0 5 0 5px; text-align: center; width: 120%; }

    
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .app-screen{width: auto; margin: auto; margin-top: 100px; }
    .text-fluid{ width: auto; margin-top: 130px; margin-left: -10px; font-size: small; }
    .pop-art-text{ width: auto; margin-top: 120px; margin-left: 100px; font-size: small; }
    .pop-art-love{ width: 70%; margin-left: 50px; margin-top: 70px; }
    .headlogo { position: absolute; top: 15px; left: 40px; opacity: 1; margin-bottom: 8px; }
    .searchbtn  { margin-bottom: 20px; } 
    
  

/* -------------------------------------------------- */
/* RESPONSIVE NAVBAR*/
/* -------------------------------------------------- */

    .topnav a:not(:first-child) {display: none; margin: 30px; }
    .topnav a.icon {float: right; display: block; background: transparent url('img/Group\ 1154.png') 0% 0% no-repeat padding-box; }
    .topnav.responsive {position: relative; }

    .topnav.responsive .icon { position: absolute; right: 0; top: 0; }
    .topnav.responsive a { position: relative; top: 50px; float: none; display: block; text-align: left; }
    .footer-image{ position: absolute; margin-top: 10px;margin-left: 240px; }
    .form-check2-input{ margin-left: -20px; }
    .contact-form{ padding: inherit; margin: 40px 0 0 70px; width: 70%; }
    .btn{ margin-left: -30px; padding: 0 5 0 5px; text-align: center; width: 120%; }
    
   
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
   
    
    .app-screen{ width: auto; margin-left: auto; margin-top: 10px; }
    .text-fluid{ width: auto; margin-top: 20px; font-size: small; }
    .pop-art-love{ width: 70%; margin-left: 50px; margin-top: 10px; }
    .pop-art-text{ width: 100%; margin-left: -10px; margin-top: 20px; font-size: small; }
    .headlogo { position: absolute; top: 8px; left: 40px; opacity: 1; margin-bottom: 10px; }
    .footer-image{ position: absolute; margin: -40px 0 0 440px; }
    .form-check2-input{ margin-left: -20px; }
    .contact-form{ padding: inherit; margin: 40px 0 0 70px; width: 70%; }
    .btn{ margin-left: -30px; padding: 0 5 0 5px; text-align: center; width: 120%; }
    .searchbtn  { margin-left: 10px; } 

    
    

    /* -------------------------------------------------- */
    /* RESPONSIVE NAVBAR*/
    /* -------------------------------------------------- */

    .topnav a:not(:first-child) {display: none; margin: 20px; }
    .topnav a.icon { float: right; display: block; background: transparent url('img/Group\ 1154.png') 0% 0% no-repeat padding-box; }
    .topnav.responsive {position: relative;}
    
    .topnav.responsive .icon { position: absolute; right: 0; top: 0; }
    .topnav.responsive a { position: relative; top: 40px; float: none; display: block; text-align: left; }
    
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
  
}







  

  
